@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/normal";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content {
  display: flex;
}

.content-body {
  flex: 1;
  height: calc(100vh - var(--navbar-height));
}
