@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/normal";

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content {
    display: flex;
}

.content-body {
    flex: 1;
    height: calc(100vh - var(--navbar-height));
    background-color: red;
}
