@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/orange";
@import "themes/normal";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content {
  display: flex;
}

.content-body {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  height: calc(100vh - var(--navbar-height));
}


*::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);
  border-radius: 3px;
  border: 2px solid var(--primary-color);
}