.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 400px;
  padding: 20px;
  align-items: center;
  width: 100%;
}

.input {
  width: 100%;
}

.button {
  align-self: flex-end;
}
