.Button {
  cursor: pointer;
  display: flex;
  border: none;
  padding: 8px 20px;
  color: var(--primary-color);
}

.clear {
  padding: 0;
  outline: none;
  background: transparent;
  border: none;
}

.outline {
  border: 1px solid var(--primary-color);
  background: none;
  color: var(--primary-color);
  border-radius: 5px;
}

.outline-danger {
  border: 1px solid var(--red-dark);
  background: none;
  color: var(--red-dark);
  border-radius: 5px;
}

.background {
  background-color: var(--nav-bar-bg-color);
  color: var(--primary-color);
}

.background-inverted {
  background-color: var(--bg-color-inverted);
  color: var(--primary-color-inverted);
}

.square {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}

.disabled {
  opacity: 0.5;
}
