.NavBar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--bg-color-inverted) ;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}