.dark {
    --bg-color: #202124;
    --bg-color-inverted: #c5d1de;
    --nav-bar-bg-color: #171717;
    --primary-color: #c5d1de;
    --secondary-color: #9793a9;
    --primary-color-inverted: #202124;
    --secondary-color-inverted: #9793a9;
}
