.app.normal {
    --bg-color: #c5d1de;
    --bg-color-inverted: #202124;
    --nav-bar-bg-color: #002b49;
    --primary-color: #7a63df;
    --secondary-color: #9793a9;
    --primary-color-inverted: #c5d1de;
    --secondary-color-inverted: #9793a9;
}
