.orange {
  --bg-color: #faf4fb;
  --bg-color-inverted: #bd5012;
  --nav-bar-bg-color: #ffabab;
  --primary-color: #9a1a0e;
  --secondary-color: #d01f0e;
  --primary-color-inverted: #dbd5dc;
  --secondary-color-inverted: #faf4fb;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  //card
  --card-bg: #bdb5bf;
}
