.NavBar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--nav-bar-bg-color);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}

.links {
  margin-left: auto;
}

.app-name {
  width: var(--sidebar-width);
  margin-left: 15px;
}
