.profile-card {
  padding: 20px;
  border-radius: 5px;
  border: 2px solid var(--bg-color-inverted);
}

.profile-card-edit {
  border-color: var(--success); 
}

.data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loading, .error {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}